version: "2.0"

secrets:
  # Only used when idp.github.enabled is set to true in user-management chart
  - name: gh-oauth
    fields:
    - name: client_secret
      value: null

  # Only used when idp.htpasswd.enabled is set to true in user-management chart
  - name: htpasswd
    fields:
    - name: htpasswd_file
      value: null
